<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <!-- Page Header 1111 -->
	   Lista de Egresos
      <small>Consulta de las egresos a bodegas</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Ingresos Productos</li>
      <li class="active">Lista de Ingresos</li>
    </ol>
  </section>
  
    <div *ngIf="success" class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Pedido agregado con éxito 
		</div>
    </div>
	
	<div *ngIf="success_act" class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Pedido actualizado con éxito 
		</div>
    </div>
	
	<div *ngIf="espera_correo_facturacion"  class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="callout callout-warning">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="callout callout-warning warning-dismissable">
            <button aria-hidden="true" data-dismiss="callout" class="close" type="button">X</button>
            <h4><i class="icon fa fa-warning"></i> Enviándo correo por favor espere ..!!!</h4>Enviando correo al Departamento de Facturación...!!!
		</div>
    </div>
	
	<div *ngIf="espera_exitoso_facturacion"   class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Correo enviado con exito al Departamento de Facturación...!!!
		</div>
    </div>
	
	<div *ngIf="espera_correo_pedido"  class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="callout callout-warning">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="callout callout-warning warning-dismissable">
            <button aria-hidden="true" data-dismiss="callout" class="close" type="button">X</button>
            <h4><i class="icon fa fa-warning"></i> Enviándo correo por favor espere ..!!!</h4>Enviando correo al Cliente...!!!
		</div>
    </div>
	
	<div *ngIf="espera_exitoso_pedido"   class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Correo enviado con exito al Cliente...!!!
		</div>
    </div>

<section class="content">
    <div class="row">
	
	
	    <div class="col-xs-12">
            <div class="box box-primary">
				<div class="box-header">
					<label for="reference">SELECCIONE RANGO DE EGRESOS BODEGA </label>
                </div>
				 <div class="box-header text-left">
				 <!-- <div class="col-md-1"> -->
				 <!-- <span class="info-box-icon bg-aqua"><i class="fa fa-fw fa-user-secret"></i></span> -->
				 <!-- </div> -->
				 
				  <div class="col-md-3">
								<label for="fecha_desde">Fecha desde: </label>
								<input [(ngModel)]="fecha_desde" type="date" name="fecha_desde" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
								
				 </div>

				 <div class="col-md-3">
								<label for="fecha_hasta">Fecha hasta: </label>
								<input [(ngModel)]="fecha_hasta" type="date" name="fecha_hasta" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
				 </div>
				
				<div class="col-md-2">
							<br>
							<input  type="submit" (click)="buscar_egreso_fecha()"  name="Buscar" value="Buscar por fecha" class="btn btn-primary">
				</div>
				
				
				<!-- <div class="col-md-4"> -->
					<!-- <label for="fecha_desde">Tipo de documento </label> -->
					<!-- <div class="input-group"> -->
						<!-- <select name="tipo_inventario" [(ngModel)]="tipo_origen" class="form-control select2 tip" style="width:100%;"> -->
						<!-- <option [ngValue]="undefined" disabled selected>Seleccione Doc Origen</option> -->
						<!-- <option *ngFor="let e of tipo_doc_origen; let i = index;" [value]="e.tipo">{{e.descripcion}}</option> -->
						<!-- </select> -->
						
						<!-- <!-- <input type="text" placeholder="Ingrese NUM FACT/EGRESO" name="numfac_egreso" value="" class="form-control tip" id="numfac_egreso social" (keyup.enter)="busqueda_razon_social()"   [(ngModel)]="patron_proveedor"> --> 
						
						<!-- <div  class="input-group-addon no-print" style="padding: 2px 5px;"> -->
							<!-- <a  (click)="busqueda_egreso()" id="add-customer" class="external"><i class="fa fa-2x fa-search" id="addIcon"></i></a> -->
						<!-- </div> -->
					<!-- </div> -->
				
				<!-- </div> -->
				
				
			</div>

				
                <div class="box-body">
				<div class="table-responsive">
				<!-- <table *ngIf="!loading" datatable class="row-border hover">  -->
					<div *ngIf="loading" class="col-md-12">
						  <div class="box box-primary">
							<div class="text-center box-header">
							  <h3 class="box-title ">Cargando. Generando tabla....!!!!</h3>
							</div>
							<div class="box-body">
							  <!-- The body of the box -->
							</div>
							<div class="overlay">
							  <i class="fa fa-refresh fa-spin"></i>
							</div>
							<!-- end loading -->
						  </div>
						  <!-- /.box -->
					</div>
				
				<table *ngIf="!loading" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-condensed table-hover dataTable"> 
				<!-- <table *ngIf="!loading" datatable [dtOptions]="dtOptions" class="dataTable">  -->
						<thead>
						<tr>
						  <th>Fecha</th>
						  <th>No</th>
						  <th>Usuario</th>
						  <!-- <th>Proveedor</th> -->
						  <th>Total(USD)</th>
						  <th>Observación</th>
						  <!-- <th>Estado</th> -->
						  <!-- <th>Fecha/hora entrega</th> -->
						  <!-- <th>Direcc entrega</th> -->
						  <!-- <th>Ruta asignada</th> -->
						  
						  <th style="width:95px;" role="columnheader" rowspan="1" colspan="1" >Acciones</th>
						  
						</tr>
					  </thead>
					  
					<tbody *ngIf="(lista_pedidos?.length != 0) && (!loading) ">
					  <tr *ngFor="let el of lista_pedidos;">
						  <td>{{el.fecfac}}</td>
						  <td>{{el.numfac}}</td>
						  <td>{{el.codusu}}</td>
						  <!-- <td>{{el.nompro}}</td> -->
						  <td>{{el.totfac}}</td>
						  <td>{{el.observ}}</td>
						  <!-- <td>{{el.email}}</td> -->
						  <!-- <td>{{el.total_iva}}</td> -->
						  <!-- <td>{{el.observ}}</td> -->
						  <!-- <td>{{el.status}}</td> -->
						  <!-- <td *ngIf="el.fecha_entrega">{{el.fecha_entrega}} / {{el.hora_entrega}}</td> -->
						  <!-- <td *ngIf="!el.fecha_entrega" class="text-center" style="color:red">POR PLANIFICAR</td> -->
						  <!-- <td>{{el.direccion_entrega}} -->
						  <!-- </td> -->
						  <!-- <td> -->
						  <!-- <div *ngIf="el!== edit_ruta" class="text-center">{{el.ruta}} -->
						  	<!-- <a *ngIf="el!== edit_ruta" (click)="edit_ruta_pedido(el)"  class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar ruta"></i></a>  -->
							<!-- </div> -->
							
							<!-- <!-- EL QUE SIRVE --> 
							<!-- <select *ngIf="el===edit_ruta" #ruta  name="change_iva" class="form-control" (change)="update_ruta(el.numtra,el.id_agencia,ruta.value)"> -->
							<!-- <option [ngValue]="undefined" disabled  selected>Seleccione ruta</option> -->
							<!-- <option  *ngFor="let e of lista_rutas; let i = index;"  [value]="e.idruta" >{{e.nombre_ruta}}</option> -->
							<!-- </select> -->
							
							
						  <!-- </td> -->
						  
						  <td class="">
						    <div class="text-center">
                                <div class="btn-group">

									<a  routerLink="/admin/egreso_articulos" [queryParams]="{usuario:usuario,empresa: empresa,numfac:el.numfac}" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar ingreso"></i></a> 
		
								</div>
                            </div>
						  </td>
						  
					  </tr>
					</tbody> 
				</table>
				
					<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
					<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
					  <!-- <!-- <thead> --> 
						<!-- <!-- <tr> --> 
						  <!-- <!-- <th>ID</th> --> 
						  <!-- <!-- <th>First name</th> --> 
						  <!-- <!-- <th>Last name</th> -->
						<!-- <!-- </tr> --> 
					  <!-- <!-- </thead> --> 
					  <!-- <!-- <tbody *ngIf="persons?.length != 0"> --> 
						  <!-- <!-- <tr *ngFor="let person of persons"> --> 
							  <!-- <!-- <td>{{ person.id }}</td> --> 
							  <!-- <!-- <td>{{ person.firstName }}</td> --> 
							  <!-- <!-- <td>{{ person.lastName }}</td> --> 
						  <!-- <!-- </tr> --> 
					  <!-- <!-- </tbody> --> 
					  <!-- <!-- <tbody *ngIf="persons?.length == 0"> --> 
						<!-- <!-- <tr> --> 
						  <!-- <!-- <td colspan="3" class="no-data-available">No data!</td> --> 
						<!-- <!-- </tr> --> 
					  <!-- <!-- <tbody> --> 
					  
					  <!-- <thead> -->
						<!-- <tr> -->
						  <!-- <th>Fecha</th> -->
						  <!-- <th>No. Doc</th> -->
						  <!-- <th>Cod.Cli</th> -->
						  <!-- <th>Cliente</th> -->
						  <!-- <th>Total con IVA</th> -->
						  <!-- <th>Observación</th> -->
						  <!-- <th>Estado</th> -->
						<!-- </tr> -->
					  <!-- </thead> -->
					  
					<!-- <tbody *ngIf="(lista_pedidos?.length != 0) && (!loading) "> -->
					  <!-- <tr *ngFor="let el of lista_pedidos;"> -->
						  <!-- <td>{{el.fectra}}</td> -->
						  <!-- <td>{{el.numtra}}</td> -->
						  <!-- <td>{{el.codcli}}</td> -->
						  <!-- <td>{{el.nomcli}}</td> -->
						  <!-- <td>{{el.total_iva}}</td> -->
						  <!-- <td>{{el.observ}}</td> -->
						  <!-- <td>{{el.status}}</td> -->
					  <!-- </tr> -->
					<!-- </tbody>  -->
					<!-- <tbody *ngIf="lista_pedidos?.length == 0"> -->
						<!-- <tr> -->
						  <!-- <td colspan="3" class="no-data-available">No data!</td> -->
						<!-- </tr> -->
					  <!-- <tbody> -->
					<!-- </table> -->
	
					</div>
				</div>
			</div>
        </div>
   </div>
</section>
  <!-- /.content -->
</div>
