<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <!-- Page Header 1111 -->
	   Lista de Ordenes
      <small>Consulta de las ordenes de trabajo generadas</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Talleres</li>
      <li class="active">Lista de Ordenes</li>
    </ol>
  </section>
  
    <div *ngIf="success" class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Pedido agregado con éxito 
		</div>
    </div>
	
	<div *ngIf="success_act" class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Pedido actualizado con éxito 
		</div>
    </div>
	
	<div *ngIf="espera_correo_facturacion"  class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="callout callout-warning">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="callout callout-warning warning-dismissable">
            <button aria-hidden="true" data-dismiss="callout" class="close" type="button">X</button>
            <h4><i class="icon fa fa-warning"></i> Enviándo correo por favor espere ..!!!</h4>Enviando correo al Departamento de Facturación...!!!
		</div>
    </div>
	
	<div *ngIf="espera_exitoso_facturacion"   class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Correo enviado con exito al Departamento de Facturación...!!!
		</div>
    </div>
	
	<div *ngIf="espera_correo_pedido"  class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="callout callout-warning">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="callout callout-warning warning-dismissable">
            <button aria-hidden="true" data-dismiss="callout" class="close" type="button">X</button>
            <h4><i class="icon fa fa-warning"></i> Enviándo correo por favor espere ..!!!</h4>Enviando correo al Cliente...!!!
		</div>
    </div>
	
	<div *ngIf="espera_exitoso_pedido"   class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="alert alert-dismissable">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">X</button>
            <h4>	<i class="icon fa fa-check"></i> Éxito</h4> Correo enviado con exito al Cliente...!!!
		</div>
    </div>
	
    <div *ngIf="espera_generar_pdf"  class="col-lg-12 alerts">
        <div id="custom-alerts" style="display:none;">
            <div class="callout callout-warning">
                <div class="custom-msg"></div>
            </div>
        </div>
        <div class="callout callout-warning warning-dismissable">
            <button aria-hidden="true" data-dismiss="callout" class="close" type="button">X</button>
            <h4><i class="icon fa fa-warning"></i> Generando PDF por favor espere ..!!!</h4>
		</div>
    </div>

<section class="content">
    <div class="row">
	
	
	    <div class="col-xs-12">
            <div class="box box-primary">
                <!-- <div class="box-header"> -->
                    <!-- <h3 class="box-title">Utilice la tabla siguiente para navegar o filtrar los resultados.</h3> -->
                <!-- </div> -->
				<div class="box-header">
					<label for="reference">SELECCIONE RANGO DE FECHA DE PEDIDOS EMITIDOS</label>
                </div>
				 <div class="box-header text-left">

				 
				  <div class="col-md-3">
								<label for="fecha_desde">Fecha desde: </label>
								<input [(ngModel)]="fecha_desde" type="date" name="fecha_desde" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
								
				 </div>

				 <div class="col-md-3">
								<label for="fecha_hasta">Fecha hasta: </label>
								<input [(ngModel)]="fecha_hasta" type="date" name="fecha_hasta" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
				 </div>
				
				<div class="col-md-2">
							<br>
							<input  type="submit" (click)="buscar_ordenes_fecha()"  name="Buscar" value="Buscar por fecha" class="btn btn-primary">
				</div>
				</div>
				
                <div class="box-body">
				<div class="table-responsive">
				<!-- <table *ngIf="!loading" datatable class="row-border hover">  -->
					<div *ngIf="loading" class="col-md-12">
						  <div class="box box-primary">
							<div class="text-center box-header">
							  <h3 class="box-title ">Cargando. Generando tabla....!!!!</h3>
							</div>
							<div class="box-body">
							  <!-- The body of the box -->
							</div>
							<div class="overlay">
							  <i class="fa fa-refresh fa-spin"></i>
							</div>
							<!-- end loading -->
						  </div>
						  <!-- /.box -->
					</div>
				
				<table *ngIf="!loading" datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-condensed table-hover dataTable"> 
				<!-- <table *ngIf="!loading" datatable [dtOptions]="dtOptions" class="dataTable">  -->
						<thead>
						<tr>
						  <th>Fecha</th>
						  <th>No. Doc</th>
						  <th>Vendedor</th>
						  <th>Cliente</th>
						  <th>Marca</th>
						  <th>Modelo</th>
						  <th>Placa</th>
						  <th>Email</th>
						  <th>Total con IVA (USD)</th>
						  <th>Observación</th>
						  <th>Estado</th>
						  <!-- <th>Fecha/hora entrega</th> -->
						  <!-- <th>Direcc entrega</th> -->
						  <!-- <th>Ruta asignada</th> -->
						  <th style="width:95px;" role="columnheader" rowspan="1" colspan="1" >Acciones</th>
						  
						</tr>
					  </thead>
					  
					<tbody *ngIf="(lista_pedidos?.length != 0) && (!loading) ">
					  <tr *ngFor="let el of lista_pedidos;">
						  <td>{{el.fectra}}</td>
						  <td>{{el.numtra}}</td>
						  <td>{{el.nomusu}}</td>
						  <td>{{el.nomcli}}</td>
						  <td>{{el.marca}}</td>
						  <td>{{el.modelo}}</td>
						   <td>{{el.placa}}</td>
						  <td>{{el.email}}</td>
						  <td>{{el.total_iva}}</td>
						  <td>{{el.observ}}</td>
						  <td>{{el.status}}</td>
						  <!-- <td *ngIf="el.fecha_entrega">{{el.fecha_entrega}} / {{el.hora_entrega}}</td> -->
						  <!-- <td *ngIf="!el.fecha_entrega" class="text-center" style="color:red">POR PLANIFICAR</td> -->
						  <!-- <td>{{el.direccion_entrega}} -->
						  <!-- </td> -->
						  <!-- <td> -->
						  <!-- <div *ngIf="el!== edit_ruta" class="text-center">{{el.ruta}} -->
						  	<!-- <a *ngIf="el!== edit_ruta" (click)="edit_ruta_pedido(el)"  class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar ruta"></i></a>  -->
							<!-- </div> -->
							
							<!-- <!-- EL QUE SIRVE --> 
							<!-- <select *ngIf="el===edit_ruta" #ruta  name="change_iva" class="form-control" (change)="update_ruta(el.numtra,el.id_agencia,ruta.value)"> -->
							<!-- <option [ngValue]="undefined" disabled  selected>Seleccione ruta</option> -->
							<!-- <option  *ngFor="let e of lista_rutas; let i = index;"  [value]="e.idruta" >{{e.nombre_ruta}}</option> -->
							<!-- </select> -->
							
							
						  <!-- </td> -->
						  <td class="">
						    <div class="text-center">
                                <div class="btn-group">
									<!-- {{auth.getConfPV()}} {{srv.getConfCorreoPedCli() }} -->
									<!-- *ngIf="auth.getConfPV() != 'NO'"   getConfEditPedido-->
									<!-- <a onclick="window.open('http://amort.lavisita360.com/purchases/view/6', 'pos_popup', 'width=900,height=600,menubar=yes,scrollbars=yes,status=no,resizable=yes,screenx=0,screeny=0'); return false;" href="#"  class="tip btn btn-primary btn-xs"><i class="fa fa-file-text-o" title="Ver pedido" ></i></a>  -->
									<!-- <a routerLink="/admin/taller_orden" [queryParams]="{usuario:usuario,empresa: empresa,numtra:el.numtra}"  class="tip btn btn-primary btn-xs"><i class="fa fa-file-text-o" title="Ver pedido"></i></a>  -->
									<a *ngIf="srv.getConfEditPedido() != 'NO'" routerLink="/admin/taller_orden" [queryParams]="{usuario:usuario,empresa: empresa,numtra:el.numtra}" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar pedido"></i></a> 
									<!-- <a href="http://amort.lavisita360.com/purchases/delete/6" onclick="return confirm('Usted va a eliminar la compra, por favor haga clic en Aceptar para eliminar.')" title="" class="tip btn btn-danger btn-xs" data-original-title="Eliminar Compra"><i class="fa fa-trash-o"></i></a> -->
									<a *ngIf="srv.getConfCorreoFact() != 'NO'" (click)="correo_facturacion(el.numtra,el.nomcli)" class="tip btn btn-danger btn-xs" ><i class="fa fa-envelope" title="Enviar correo facturar pedido" ></i></a>
									<!-- <a (click)="confirm_delete()"   class="tip btn btn-danger btn-xs" ><i class="fa fa-envelope" title="Enviar correo facturar pedido" ></i></a> -->
									<!-- generar_orden_ped -->
									<a  (click)="correo_pedido(el.numtra,el.nomcli,el.email)"  class="tip btn btn-success btn-xs" ><i class="fa fa-envelope" title="Enviar correo orden de trabajo"></i></a>
									<!-- <a  (click)="generar_pdf_ped(el.numtra)"  class="tip btn btn-danger btn-xs" ><i class="fa fa-search" title="Ver/Imprimir" ></i></a> -->
									<a class="tip btn btn-danger btn-xs"   (click)="generar_orden_ped(el.numtra)" ><i class="fa fa-search" title="Ver/Imprimir" ></i></a>
									<!-- <a *ngIf="srv.getConfCorreoPedCli() != 'NO'" (click)="correo_pedido(el.numtra,el.nomcli,el.email)"  class="tip btn btn-success btn-xs" ><i class="fa fa-envelope" title="Reenviar correo pedido" ></i></a> -->
								</div>
                            </div>
						  </td>
					  </tr>
					</tbody> 
				</table>
				
					<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
					<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"> -->
					  <!-- <!-- <thead> --> 
						<!-- <!-- <tr> --> 
						  <!-- <!-- <th>ID</th> --> 
						  <!-- <!-- <th>First name</th> --> 
						  <!-- <!-- <th>Last name</th> -->
						<!-- <!-- </tr> --> 
					  <!-- <!-- </thead> --> 
					  <!-- <!-- <tbody *ngIf="persons?.length != 0"> --> 
						  <!-- <!-- <tr *ngFor="let person of persons"> --> 
							  <!-- <!-- <td>{{ person.id }}</td> --> 
							  <!-- <!-- <td>{{ person.firstName }}</td> --> 
							  <!-- <!-- <td>{{ person.lastName }}</td> --> 
						  <!-- <!-- </tr> --> 
					  <!-- <!-- </tbody> --> 
					  <!-- <!-- <tbody *ngIf="persons?.length == 0"> --> 
						<!-- <!-- <tr> --> 
						  <!-- <!-- <td colspan="3" class="no-data-available">No data!</td> --> 
						<!-- <!-- </tr> --> 
					  <!-- <!-- <tbody> --> 
					  
					  <!-- <thead> -->
						<!-- <tr> -->
						  <!-- <th>Fecha</th> -->
						  <!-- <th>No. Doc</th> -->
						  <!-- <th>Cod.Cli</th> -->
						  <!-- <th>Cliente</th> -->
						  <!-- <th>Total con IVA</th> -->
						  <!-- <th>Observación</th> -->
						  <!-- <th>Estado</th> -->
						<!-- </tr> -->
					  <!-- </thead> -->
					  
					<!-- <tbody *ngIf="(lista_pedidos?.length != 0) && (!loading) "> -->
					  <!-- <tr *ngFor="let el of lista_pedidos;"> -->
						  <!-- <td>{{el.fectra}}</td> -->
						  <!-- <td>{{el.numtra}}</td> -->
						  <!-- <td>{{el.codcli}}</td> -->
						  <!-- <td>{{el.nomcli}}</td> -->
						  <!-- <td>{{el.total_iva}}</td> -->
						  <!-- <td>{{el.observ}}</td> -->
						  <!-- <td>{{el.status}}</td> -->
					  <!-- </tr> -->
					<!-- </tbody>  -->
					<!-- <tbody *ngIf="lista_pedidos?.length == 0"> -->
						<!-- <tr> -->
						  <!-- <td colspan="3" class="no-data-available">No data!</td> -->
						<!-- </tr> -->
					  <!-- <tbody> -->
					<!-- </table> -->
	
					</div>
				</div>
			</div>
        </div>
   </div>
</section>
  <!-- /.content -->
</div>
