<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <!-- Page Header 1111 -->
	   Despacho de facturas
      <small>Proceso de despacho de facturas</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Depachos</li>
      <li class="active">Despachos facturas</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
	
	
	 <div class="row">
        <div class="col-xs-12">
		
			<div class="box box-primary" *ngIf="loading_modulo">
				<div class="text-center box-header">
				  <h3 class="box-title ">Por favor espere...!!!!</h3>
				</div>
				<div class="box-body">
				  <!-- <!-- <!-- The body of the box -->  
				</div>
				<div class="overlay">
				  <i class="fa fa-refresh fa-spin"></i>
				</div>
				<!-- <!-- <!-- end loading -->  
			</div>
		
		<div class="nav-tabs-custom" *ngIf="!loading_modulo">
            <ul class="nav nav-tabs">
			    <!-- <li id="facturacion"   class="active" #facturacion ><a href="#tab_facturacion" data-toggle="tab" style="font-weight:bold;color:red" (click)="cambio_vista_cliente('false')" >FACTURACIÓN</a></li> -->
                <!-- <li id="crear_cliente" #crear_cliente ><a href="#tab_crear_cliente"  data-toggle="tab" style="font-weight:bold;color:blue" (click)="cambio_vista_cliente('true')" >CREACIÓN CLIENTE</a></li> -->
				
				<li id="datos_orden"   class="active" #datos_orden ><a href="#tab_datos_orden" data-toggle="tab" style="font-weight:bold;color:blue" >Datos Ingreso</a></li>
                <li *ngIf="tab_habilitar_datos_orden" id="datos_vehiculo"  #datos_vehiculo ><a href="#tab_datos_vehiculo"  data-toggle="tab" style="font-weight:bold;color:blue"  >Datos Vehiculo</a></li>
				<li *ngIf="tab_habilitar_datos_orden" id="datos_detalle_vehiculo"  #datos_detalle_vehiculo ><a href="#tab_datos_detalle_vehiculo"  data-toggle="tab" style="font-weight:bold;color:blue" >Detalle Vehiculo</a></li>
				<li *ngIf="tab_habilitar_datos_orden" id="fotos_vehiculo"  #fotos_vehiculo ><a href="#tab_fotos_vehiculo"  data-toggle="tab" style="font-weight:bold;color:blue" >Fotos Vehiculo</a></li>
			</ul>
			
			<div class="tab-content">
			<div class="tab-pane active" id="tab_datos_orden" #tab_datos_orden >
		
		
            <!-- <div class="box box-primary"> -->
                <!-- <div class="box-header"> -->
                    <!-- <h3 class="box-title">Por favor, rellene la siguiente información</h3> -->
                <!-- </div> -->
                <div class="box-body">
                    <div class="col-lg-12">
                        <form class="validation fv-form fv-form-bootstrap" enctype="multipart/form-data" method="post" accept-charset="utf-8" novalidate="novalidate">
						
						<button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
					<!-- <input type="hidden" name="spos_token" value="63b87f6a60dc5db5380a9ae6f8ae9725" style="display:none;"> -->
                        <div class="row">
						
							<div class="col-md-3">
                                <div class="form-group">
                                    <label for="date">NUM FACTURA
									<!-- <a *ngIf="!edit_fecha_creacion"  (click)="edit_fecha_creacion = true" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar fecha de creacion"></i></a>  -->
									</label>
									<input *ngIf="faccli"  type="text" name="date" value="{{faccli}}" class="form-control tip" id="date" required="required" disabled>
									<input style="font-weight:bold;color:red" *ngIf="!numtra"  type="text" name="date" value="Nuevo Ingreso" class="form-control tip" id="date" required="required" disabled>
								</div>
                            </div>

							<div class="col-md-2">
                                <div class="form-group">
                                    <label for="date">FECHA CREACION
									<!-- <a *ngIf="!edit_fecha_creacion"  (click)="edit_fecha_creacion = true" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar fecha de creacion"></i></a>  -->
									</label>
									<!-- <input *ngIf="!edit_fecha_creacion" type="text" name="date" value="{{fectra}}" class="form-control tip" id="date" required="required" disabled> -->
									<input *ngIf='!accion_actualizar' type="text" name="date" value="{{fectra}}" class="form-control tip" id="date" required="required" disabled>
									<input *ngIf='accion_actualizar' type="text" name="date" value="{{fectra}}" class="form-control tip" id="date" required="required" disabled>
										
								
								<mat-form-field *ngIf="edit_fecha_creacion">
								<input matInput [matDatepicker]="picker" placeholder="Escoja fecha" [(ngModel)]="fectra" name="fectra" >
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
								
								</div>
                            </div>
							
			<!-- ################################  INICIO FECHA DE ENTREGA ##################################################-->		
							<!-- <div class="col-md-2"> -->
                                <!-- <div class="form-group"> -->
                                    <!-- <label >FECHA DE ENTREGA -->
									<!-- <!-- <a *ngIf="!edit_fecha_entrega"  (click)="edit_fecha_entrega = true" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar fecha de entrega"></i></a>  --> 
									<!-- </label> -->
									<!-- <!-- <input *ngIf="!edit_fecha_entrega" type="text" name="date_entrega" value="{{fecha_entrega}}" class="form-control tip" id="date_entrega" required="required" disabled> --> 
										
								
								<!-- <!-- <mat-form-field *ngIf="edit_fecha_entrega"> --> 
								<!-- <mat-form-field *ngIf="exist_fecha_entrega"> -->
								<!-- <input matInput [matDatepicker]="picker" placeholder="Escoja fecha" [formControl]="fecha_entrega" > -->
								<!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
								<!-- <mat-datepicker #picker></mat-datepicker> -->
								<!-- </mat-form-field> -->
								
								<!-- <h4 style="color:red;" *ngIf="!exist_fecha_entrega">POR PLANIFICAR</h4> -->
								
								<!-- </div> -->
								
								<!-- <!-- <button type="button" id="busqueda_razon_social" (click)="busqueda_razon_social()" class="btn btn-primary" title="Buscar razon social" ><i class="fa fa-fw fa-search"></i></button> -->
								
								
								
                            <!-- </div> -->
							
							<!-- <div class="col-md-2"> -->
							<!-- <br>  -->
							<!-- <!-- <input type="submit" name="busqueda_razon_social" value="Buscar razon social" class="btn btn-primary" (click)="busqueda_razon_social()"> --> 
							<!-- <!-- <button type="button" id="busqueda_razon_social" (click)="busqueda_razon_social()" class="btn btn-primary" title="Buscar razon social" ><i class="fa fa-fw fa-search"></i></button> --> 
							<!-- <button *ngIf="exist_fecha_entrega" type="button" id="busqueda_razon_social" (click)="exist_fecha_entrega = false" class="btn btn-danger" title="Buscar razon social" >PLANIFICAR ENTREGA LUEGO</button> -->
							<!-- <button *ngIf="!exist_fecha_entrega"  type="button" id="busqueda_razon_social" (click)="exist_fecha_entrega = true" class="btn btn-primary" title="Buscar razon social" >PLANIFICAR ENTREGA</button> -->
							<!-- <!-- <i class="fa fa-edit" title="Editar fecha de creacion"></i> --> 
							<!-- </div> -->
							
			<!-- ################################  FIN FECHA DE ENTREGA ##################################################-->
							
							<!-- <div class="col-md-2"> -->
                                <!-- <div class="form-group"> -->
                                    <!-- <label for="date">AGENCIA</label> -->
									<!-- <select name="agencia" [(ngModel)]="agencia" class="form-control select2 tip" style="width:100%;"> -->
									<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
									<!-- <option *ngFor="let e of agencia_lista; let i = index;" [selected] = "i==1" [value]="e.nom_agencia">{{e.nom_agencia}}</option> -->
									<!-- </select> -->
								<!-- </div> -->
                            <!-- </div> -->
							
							
							<!-- <div class="col-md-3"> -->
                                <!-- <div class="form-group"> -->
                                    <!-- <label for="date">TIPO DE PROCESO</label> -->
									<!-- <select *ngIf="!numtra" name="bodega" [(ngModel)]="almacen_arr" class="form-control select2 tip" (change)="set_tipo_ingreso()" style="width:100%;"> -->
									<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
									<!-- <option *ngFor="let e of almacenes_lista; let i = index;" [value]="e.codalm+'|'+e.nombre_almacen">{{e.nombre_almacen}}</option> -->
									
									
									<!-- <!-- <option *ngFor="let e of almacenes_lista; let i = index;" [selected] = "i==1" [value]="e.codalm">{{e.nombre_almacen}}</option> --> 
									<!-- </select> -->
									
									<!-- <select *ngIf="numtra" name="bodega" [(ngModel)]="almacen_arr" class="form-control select2 tip" (change)="set_tipo_ingreso()" disabled style="width:100%;"> -->
									<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
									<!-- <option *ngFor="let e of almacenes_lista; let i = index;" [value]="e.codalm+'|'+e.nombre_almacen">{{e.nombre_almacen}}</option> -->
									
									
									<!-- <!-- <option *ngFor="let e of almacenes_lista; let i = index;" [selected] = "i==1" [value]="e.codalm">{{e.nombre_almacen}}</option> --> 
									<!-- </select> -->
								<!-- </div> -->
                            <!-- </div> -->
							
							<!-- <div class="col-md-2"> -->
                                <!-- <div class="form-group"> -->
									<!-- <label for="date">TIPO IDENTIFICACIÓN</label> -->
									<!-- <select name="tipo_doc" [(ngModel)]="tipo_doc" class="form-control select2 tip" style="width:100%;"> -->
									<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
									<!-- <option *ngFor="let e of tipo_doc_lista; let i = index;" [selected] = "i==0" [value]="e.tipo">{{e.nom_doc}}</option> -->
									<!-- </select> -->
								<!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="col-md-2"> -->
                                <!-- <div class="form-group"> -->
                                    <!-- <label for="reference">CÉDULA/RUC </label> -->
									<!-- <input type="text" (keypress)='validaNumericosCantidad($event)'  placeholder="Búsqueda por cédula/ruc" name="reference" value="" class="form-control tip" (keyup.enter)="busca_cliente()" id="reference" [(ngModel)]="ruc"> -->
								<!-- </div> -->
                            <!-- </div> -->
							<!-- <div class="col-md-1"> -->
							<!-- <br> -->
							<!-- <input type="submit" name="busca_cliente" value="Buscar cliente" class="btn btn-primary" (click)="busca_cliente();check_agencia=false"> -->
							<!-- </div> -->
							
							
							
							<!-- <div class="col-md-4"> -->
                                <!-- <div class="form-group"> -->
								<!-- <label for="reference">BUSQUEDA PROVEEDOR</label> -->
								<!-- <!-- <input type="text" placeholder="Ingrese razón social" name="razon social" value="" class="form-control tip" id="razon social" (keyup.enter)="busqueda_razon_social()"   [(ngModel)]="patron_proveedor"> --> 
								<!-- <div class="input-group"> -->
									
									<!-- <input 	 type="text" name="buscart" id="buscart"  value="" placeholder="Ingrese razón social" (keyup.enter)="busqueda_razon_social()" [(ngModel)]="patron_proveedor" class="form-control ui-autocomplete-input text-center " autocomplete="off"> -->
									
									<!-- <div  class="input-group-addon no-print" style="padding: 2px 5px;"> -->
											<!-- <a (click)="busqueda_razon_social()" id="add-customer" class="external"><i class="fa fa fa-2x fa-search" id="addIcon"></i></a> -->
									<!-- </div> -->
								<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							
							
							<!-- <div class="col-md-1"> -->
							<!-- <br>  -->
							<!-- <!-- <input type="submit" name="busqueda_razon_social" value="Buscar razon social" class="btn btn-primary" (click)="busqueda_razon_social()"> --> 
							<!-- <button type="button" id="busqueda_razon_social" (click)="busqueda_razon_social()" class="btn btn-primary" title="Buscar razon social" ><i class="fa fa-fw fa-search"></i></button> -->
							<!-- </div> -->
							
							<!-- <div *ngIf="this.numtra != 0" class="col-md-1"> -->
							<!-- <br>  -->
							<!-- <button type="button"  id="nueva_orden" (click)="test_reenvio()" class="btn btn-warning" title="Nueva Ingreso" ><i class="fa fa-fw fa-pencil-square-o"></i>Nueva Ingreso</button>		 -->
							<!-- </div> -->
							
							
							 <div class="col-md-4">
                                <div class="form-group">
														
								<label for="reference">NOMBRE Y APELLIDO Ó RAZÓN SOCIAL </label>
								<!-- <input [(ngModel)]="razon_social" name="razon_social" type="text" value="{{razon_social}}"  placeholder="Nombre ó Razón Social" id="add_item" class="form-control ui-autocomplete-input" autocomplete="off" disabled> -->
							
								<input style="font-weight:bold;color:red" name="razon_social" type="text" value="{{razon_social}}"  placeholder="Nombre ó Razón Social" id="add_item" class="form-control ui-autocomplete-input" autocomplete="off" disabled>
							<!-- <input *ngIf="this.proveedores " type="text" placeholder="Nombre ó Razón Social" id="add_item"  value="{{razon_social}}" class="form-control ui-autocomplete-input" autocomplete="off" disabled> -->
						
								</div>
                            </div>
							
							
							<div class="col-md-2">
								
								<div class="form-group">
                                    <label for="category">AGENCIA</label>   
													
									<input 	 type="text" name="agencia" id="agencia"  value="{{srv.getAgencia()}}"   class="form-control ui-autocomplete-input text-center" disabled autocomplete="off">
							

								</div>
								
                            </div>
							
							
							
							
                        </div>

						
						<div class="form-group"  *ngIf="this.exist_razon_social">
						<p>Resultado de la busqueda por <<{{this.patron_proveedor}}>></p>
						<div class="table-responsive-pedidos">
							<table class="table table-striped table-bordered table-condensed table-hover dataTable">
							   <thead>
								  <tr class="active" role="row">
									 <th>Razon Social</th>
									 <th class="text-center">Tipo ident</th>
									 <th class="text-center">Num Identificacion</th>
									 <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
								  </tr>
							   </thead>
							   <tbody>
								  <tr  *ngFor="let rz of razon_social_lista;">
									 <td>{{rz.nompro}}</td>
									 <td class="text-center">{{rz.tipo_identifica}}</td>
									 <td class="text-center">{{rz.rucced}}</td>
									 <td class="text-center"> 
									  <input  type="radio"  name="radio_cliente" (change)="select_razon_social(rz.tipo_identifica,rz.rucced,rz.nompro,rz.email,rz.codpro,rz.dirpro)"  />
									  
									  <!-- <input type="radio" name="optionsRadios" id="optionsRadios1" [(ngModel)]="check_agencia" (change)="validar_exist_agencia('P')"  value="principal"> -->
									 </td>
								  </tr>
								</tbody>
							</table>
						</div>
						</div>
						
						
						
						
						
						
						
						
						
						
						
						<!-- <div class="row"> -->
                            <!-- <div class="col-md-6"> -->
                                <!-- <div class="form-group"> -->
														
								<!-- <label for="reference">NOMBRE Y APELLIDO Ó RAZÓN SOCIAL </label> -->
								<!-- <input *ngIf="!this.proveedores" type="text" placeholder="Nombre ó Razón Social" id="add_item" class="form-control ui-autocomplete-input" autocomplete="off" disabled> -->
								<!-- <input *ngIf="this.proveedores " type="text" placeholder="Nombre ó Razón Social" id="add_item"  value="{{razon_social}}" class="form-control ui-autocomplete-input" autocomplete="off" disabled> -->
						
								<!-- </div> -->
                            <!-- </div> -->
                   
					 <!-- </div> -->
					 
					 	<div  class="row">
							<div class="col-md-12">
                                <div class="form-group">
								<label for="reference">DIRECCION DE ENTREGA DEL DESPACHO</label>
									<input style="font-weight:bold;color:blue" *ngIf= "!direccion_entrega"	 type="text" name="direccion_entrega" id="direccion_entrega"  value="NO DISPONIBLE" placeholder="Dirección de entrega"   disabled class="form-control ui-autocomplete-input text-center " autocomplete="off">
									<input style="font-weight:bold;color:blue" *ngIf= "direccion_entrega"	 type="text" name="direccion_entrega" id="direccion_entrega"  value="" placeholder="Dirección de entrega"  [(ngModel)]="direccion_entrega" disabled class="form-control ui-autocomplete-input text-center " autocomplete="off">
								
								</div>
							</div>
						</div>
						
					
						<!-- <div class="row"> -->
							<!-- <div class="col-md-4"> -->
                                <!-- <div class="form-group"> -->
                                    <!-- <label for="category">CIUDAD</label>                               -->
									
									<!-- <select name="city" [(ngModel)]="ciudad" class="form-control select2 tip" style="width:100%;"> -->
									<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
									<!-- <option *ngFor="let e of ciudad_lista; let i = index;" [selected] = "i==0" [value]="e.nomgeo">{{e.nomgeo}}</option> -->
									<!-- </select> -->

									
									
                                
								<!-- </div> -->
								

								
								
							<!-- </div> -->

                        <!-- </div> -->
        
						<!--################## EJEMPLO COMBO CON SELECT############## -->


                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
								
                                   <table id="poTable" class="table table-striped table-bordered table-condensed table-hover dataTable">
                                        <thead>
                                            <tr class="active" role="row">
												<th>Código</th>
                                                <th>Producto</th>
												<th style="width:25px; padding-right:5px;" rowspan="1" colspan="1">Unid.</th>
												
												<!-- <th style="width:25px; padding-right:15px;" rowspan="1" colspan="1" >Costo Unit</th> -->
												<!-- <th>Porc. IVA</th> -->
												<!-- <th>Cant.IVA</th> -->
                                                <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1">Cantidad</th>
												<!-- <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1">Desc%</th> -->
												<!-- <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1">V.Descuento</th> -->
                                                <!-- <th>Subtotal</th> -->
												 <th class="text-center">Series</th>
												 <!-- <th>Observación</th> -->
                                                <!-- <th class="col-xs-1 text-center" (click)="delete_art_todo()" style="width:25px;"><i class="fa fa-trash-o" title="Remover todos" ></i></th> -->
                                            </tr>
                                        </thead>
										
										<tbody *ngIf="articulos_pedido.length > 0">
											<tr *ngFor="let el of articulos_pedido;">
												<td>{{el.codart}}</td>
												<td style="min-width:100px;">{{el.nomart}}</td>
												<td>{{el.coduni}}</td>

												<!-- <td style="padding:2px;"> -->
													<!-- <div class="text-center"> -->
													 <!-- <input #cospro class="form-control input-sm kb-pad text-center rquantity" name="costo" type="text"   -->
													 <!-- value="{{el.cospro}}" (keypress)='validaNumericos($event,cospro.value)' (keyup.enter)="update_costo(el.codart,el.index,cospro.value)" (blur)="update_costo(el.codart,el.index,cospro.value)"> -->
													<!-- </div> -->
												<!-- </td> -->
												
												<!-- <td style="padding:2px;"> -->
													 <!-- <div *ngIf="el!== edit_iva_art" class="text-center">{{el.poriva}}%  -->
													<!-- </div> -->
													
													 <!-- <!-- EL QUE SIRVE --> 
												 <!-- <select *ngIf="el===edit_iva_art" #iva  name="change_iva" class="form-control" (change)="update_iva_art(el.codart,el.index,iva.value)"> -->
												 <!-- <option [ngValue]="undefined" disabled  selected>Selec</option> -->
												 <!-- <option  *ngFor="let e of iva_siaci; let i = index;"  [value]="e.poriva+'|'+e.codiva" >{{e.poriva}}-({{e.codiva}}) -->
												 <!-- </option> -->
												 <!-- </select> -->
													
													
												<!-- </td> -->
												
												<!-- <td style="padding:2px;"> -->
													<!-- <div class="text-center">USD {{el.precio_iva}}</div> -->
												<!-- </td> -->
												
												<td class="text-center">
													<!-- <input #cant class="form-control input-sm kb-pad text-center rquantity" name="cantidad" type="text"   -->
													<!-- value="{{el.cant}}" (keypress)='validaNumericos($event,cant.value)' (keyup.enter)="update(el.codart,el.index,cant.value)" (blur)="update(el.codart,el.index,cant.value)"> -->
													{{el.cant}}
												</td>
												<!-- <td style="padding:2px;"> -->
													<!-- <input #porc_desc class="form-control input-sm kb-pad text-center rquantity" name="porc_desc[]" type="text"   -->
													<!-- value="{{el.punreo}}" (keypress)='validaNumericos($event,porc_desc.value)' (keyup.enter)="update_art_desc(el.codart,el.index,porc_desc.value)" (blur)="update_art_desc(el.codart,el.index, porc_desc.value)"> -->
												<!-- </td> -->
												<!-- <td> <div class="text-center">USD {{redondear(el.v_desc_art)}}</div> </td> -->

												<!-- <td style="padding:2px;"> -->
														<!-- <div class="text-center"> USD {{redondear(el.subtotal_art)}}</div> -->
												<!-- </td> -->
												<td class="text-center">
													
													<button *ngIf="(el.maneja_serie=='S' && el.registra_serie > 0)" class="btn btn-success" (click)="view_serie_renglon(el.codart,el.cant,el.registra_serie)" id="btnUpload" data-toggle="modal" data-target="#series_modal">Series</button>
													<span *ngIf="el.maneja_serie!='S'" >No maneja serie</span>
													<span *ngIf="el.registra_serie == 0" >No registra serie ingresadas o series agotada</span>
												
												
												</td>
												
												<!-- <td> -->
														<!-- <input *ngIf="((el.observ) && (el.observ =='Puede agregar detalles del artículo'))" #observacion class="form-control input-sm kb-pad text-center rquantity" name="observacion[]" type="text" placeholder="{{el.observ}}"    -->
													<!-- value=""  (keyup.enter)="update_observ(el.codart,el.index,observacion.value)" (blur)="update_observ(el.codart,el.index,observacion.value)"> -->
													<!-- <input *ngIf="((el.observ) && (el.observ !='Puede agregar detalles del artículo'))"#observacion class="form-control input-sm kb-pad text-center rquantity" name="observacion[]" type="text" placeholder="Puede agregar detalles del artículo"    -->
													<!-- value="{{el.observ}}"  (keyup.enter)="update_observ(el.codart,el.index,observacion.value)" (blur)="update_observ(el.codart,el.index,observacion.value)"> -->
													
													<!-- <input *ngIf="!el.observ" #observacion class="form-control input-sm kb-pad text-center rquantity" name="observacion[]" type="text" placeholder="Puede agregar detalles del artículo"    -->
													<!-- value=""  (keyup.enter)="update_observ(el.codart,el.index,observacion.value)" (blur)="update_observ(el.codart,el.index,observacion.value)"> -->
												<!-- </td> -->
												<!-- <td (click)="delete_art(el.nomart,el.index)" class="text-center"> -->
													<!-- <i class="fa fa-trash-o tip pointer spodel" title="Remover artículo"></i> -->
												<!-- </td> -->
											</tr>
											<tr>

											<!-- <td class="text-center" colspan="12"> -->
												<!-- <input *ngIf="tipo_busqueda"  #busqueda_art1 class="form-control input-sm kb-pad text-center rquantity" name="busqueda1" type="text" placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL ARTÍCULO Y PRESIONAR LA TECLA ENTER" value="" (keyup.enter)="busca_articulo()" [(ngModel)]="patron_articulo"> -->
												<!-- <input *ngIf="!tipo_busqueda" #busqueda_ser1 class="form-control input-sm kb-pad text-center rquantity" name="busqueda_serv" type="text" placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL SERVICIO Y PRESIONAR LA TECLA ENTER" value="" (keyup.enter)="busca_servicio()" [(ngModel)]="patron_articulo"> -->
											<!-- </td> -->
											
										
											<!-- <td class="text-center" colspan="1"> -->

											<!-- <button *ngIf="tipo_busqueda" class="btn btn-danger" id="btnUpload"  (click)="busca_articulo()">Buscar</button> -->
											<!-- <button *ngIf="!tipo_busqueda" class="btn btn-danger" id="btnUpload"  (click)="busca_servicio()">Buscar</button> -->
											
											<!-- </td> -->
											
											
											
											<tr *ngIf="searching_articulo">
											<td class="text-center" colspan="12"><h4>BUSCANDO ARTÍCULO POR FAVOR ESPERE...!!!!</h4></td>
											</tr>
											<tr *ngIf="this.exist_articulo">
											<td class="text-center" colspan="12">
											<div class="table-responsive-pedidos">
												 <tr class="active" role="row">
													 <th>Código</th>
													 <th>Nombre</th>
													 <!-- <th class="text-center">Precio unit</th> -->
													 <th style="width:25px; padding-right:5px;" >Dispon</th>
													 <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
												  </tr>
										
										<!-- <input type="submit" name="inserta_pedido" value="Insertar a ingreso" class="btn btn-danger" (click)="inserta_pedido()"> -->
												  
											<tr *ngFor="let articulos of articulo;">
										  
											 <td class="">{{articulos.codart}}</td>
											 <td class="">{{articulos.nomart}}</td>
											 <!-- <td class="text-center"> -->
												<!-- <span *ngIf="articulos!==edit_articulos">{{articulos.prec01}}  </span> -->
									
											<!-- <select  *ngIf="articulos===edit_articulos"  name="nuevo_precio_renglon" [(ngModel)]="nuevo_precio_renglon" (change)="edit_prec_renglon(articulos.codart)" class="form-control select2 tip" style="width:100%;"> -->
											<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
											<!-- <option *ngFor="let e of lista_prec; let i = index;" [selected] = "i==0" [value]="e.prec">{{e.prec}}</option> -->
											<!-- </select> -->
											<!-- <a *ngIf="articulos!==edit_articulos"  (click)="edit_prec(articulos)" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar precio"></i></a> 	 -->
											 <!-- </td> -->
											 <td class="">{{articulos.exiact}}</td>
											 <td class=""> 
											  <!-- <input  type="checkbox"/> -->
											  <input  type="checkbox" [(ngModel)]="articulos.isSelected" name="list_name" value="{{articulos.nomart}}" (change)="isAllSelected()"/>
											 </td>
										  </tr>

										  <!-- <input type="submit" name="inserta_pedido" value="Insertar a ingreso" class="btn btn-danger" (click)="inserta_pedido()"> -->

											</div>
											</td>
										</tr>
											
                                        </tbody>
									
										<tbody *ngIf="articulos_pedido.length == 0">
											<!-- <tr> -->
											<!-- <td class="text-center" colspan="13"> -->
											<!-- <div class="input-group"> -->
											
												<!-- <input type="text" name="code" id="add_item"  placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL ARTÍCULO Y PRESIONAR LA TECLA ENTER" [(ngModel)]="patron_articulo" class="form-control ui-autocomplete-input text-center "> -->
												
												<!-- <div class="input-group-addon no-print" style="padding: 2px 5px;" > -->
												
														<!-- <a id="add-customer" class="external" data-toggle="modal1" data-target="#myModal1"><i class="fa fa-3x fa-search" id="searchIcon"></i></a> -->
												<!-- </div> -->
												<!-- <div class="input-group-addon no-print" style="padding: 2px 5px;"> -->
														<!-- <a href="#" id="add-customer" class="external" data-toggle="modal" data-target="#myModal"><i class="fa fa-3x fa-barcode" id="addIcon"></i></a> -->
												<!-- </div> -->
											<!-- </div> -->
											
											
											<!-- </td> -->
											
											
											<!-- <!-- <td class="text-center" colspan="1"> --> 

											<!-- <!-- <button *ngIf="tipo_busqueda" class="btn btn-danger" id="btnUpload"  (click)="busca_articulo()">Buscar</button> --> 
											<!-- <!-- <button *ngIf="!tipo_busqueda" class="btn btn-danger" id="btnUpload"  (click)="busca_servicio()">Buscar</button> --> 

											<!-- <!-- </td> --> 
											<!-- </tr> -->
											
											<tr *ngIf="searching_articulo">
											<td class="text-center" colspan="12"><h4>BUSCANDO ARTÍCULO POR FAVOR ESPERE...!!!!</h4></td>
											</tr>
											
											<tr *ngIf="this.exist_articulo">
											<td class="text-center" colspan="12">
											<div class="table-responsive-pedidos">
												 <tr class="active" role="row">
													 <th>Código</th>
													 <th>Nombre</th>
													 <th class="text-center">Cost unit</th>
													 <th style="width:25px; padding-right:5px;" >Dispon</th>
													 <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
												  </tr>
										
										<!-- <input type="submit" name="inserta_pedido" value="Insertar a ingreso" class="btn btn-danger" (click)="inserta_pedido()"> -->
												  
											<tr *ngFor="let articulos of articulo;">
										  
											 <td class="">{{articulos.codart}}</td>
											 <td class="">{{articulos.nomart}}</td>
											 <td class="text-center">
												<span *ngIf="articulos!==edit_articulos">{{articulos.cospro}}  </span>
												<!-- <select  *ngIf="articulos===edit_articulos"  name="nuevo_precio_renglon" [(ngModel)]="nuevo_precio_renglon" (change)="edit_prec_renglon(articulos.codart)" class="form-control select2 tip" style="width:100%;"> -->
												<!-- <option [ngValue]="undefined" disabled  selected>Seleccione</option> -->
												<!-- <option *ngFor="let e of lista_prec; let i = index;" [selected] = "i==0" [value]="e.prec">{{e.prec}}</option> -->
												<!-- </select> -->
												<!-- <a *ngIf="articulos!==edit_articulos"  (click)="edit_prec(articulos)" class="tip btn btn-warning btn-xs"><i class="fa fa-edit" title="Editar precio"></i></a> 	 -->
											 
											 </td>
											 
											 <td class="">{{articulos.exiact}}</td>
											 <td class=""> 
											  <!-- <input  type="checkbox"/> -->
											  <input  type="checkbox" [(ngModel)]="articulos.isSelected" name="list_name" value="{{articulos.nomart}}" (change)="isAllSelected()"/>
											 </td>
										  </tr>

										  <!-- <input type="submit" name="inserta_pedido" value="Insertar a ingreso" class="btn btn-danger" (click)="inserta_pedido()"> -->

											</div>
											</td>
											</tr>
		<!-- <div class="table-responsive-pedidos">									 -->
<!-- *ngIf="!searching_articulo" -->
<!--  -->						


											
											
											
											
											
										</tbody>

										
										
										

								
                                    </table>
							<!-- <div  *ngIf="this.exist_articulo && articulos_pedido.length == 0" class="col-md-5"> -->
							<!-- <input type="submit" name="inserta_pedido" value="Insertar a ingreso" class="btn btn-danger" (click)="inserta_pedido()"> -->
								<!-- <p>{{elements_checkedList.length}}  Items seleccionados</p> -->
							<!-- </div> -->
                                </div>
                            </div>
                        </div>
				<div class="form-group">
					<!-- <div class="input-group"> -->
					
						<!-- <input type="text" name="buscart" id="buscart"  value="" placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL ARTÍCULO Y PRESIONAR LA TECLA ENTER" (keyup.enter)="busca_articulo()" [(ngModel)]="patron_articulo" class="form-control ui-autocomplete-input text-center " autocomplete="off"> -->
						<!-- <!-- <!-- <!-- <input [(ngModel)]="observacion_pedido" value="{{observacion_pedido}}" type="text" placeholder="Puede escribir observaciones del pedido" name="reference" value="" class="form-control tip" id="reference"> --> 
						<!-- <div (click)="busca_articulo()" class="input-group-addon no-print" style="padding: 2px 5px;" > -->
						
								<!-- <a id="add-customer" class="external"><i class="fa fa-2x fa-search" id="searchIcon"></i></a> -->
						<!-- </div> -->
						<!-- <div class="input-group-addon no-print" style="padding: 2px 5px;"> -->
								<!-- <a href="#" id="add-customer" class="external" data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-barcode" id="addIcon"></i></a> -->
						<!-- </div> -->
					<!-- </div> -->
					
		<!-- <input *ngIf="!scan" type="submit" name="prender_cam" (click)="scan=true" value="prender scan" class="btn btn-primary" data-toggle="modal" data-target="#series_modal2" > -->
				
				
					<!-- <div class="input-group"> -->
					
						<!-- <input 	 type="text" name="buscart" id="buscart"  value="" placeholder="FAVOR INGRESAR CÓDIGO O NOMBRE DEL ARTÍCULO Y PRESIONAR LA TECLA ENTER" (keyup.enter)="busca_articulo()" [(ngModel)]="patron_articulo" class="form-control ui-autocomplete-input text-center " autocomplete="off"> -->
					
						<!-- <div  (click)="busca_articulo()" class="input-group-addon no-print" style="padding: 2px 5px;" > -->
								<!-- <a id="add-customer" class="external"><i class="fa fa-2x fa-search" id="searchIcon"></i></a> -->
						<!-- </div> -->
						<!-- <div  class="input-group-addon no-print" style="padding: 2px 5px;"> -->
								<!-- <a (click)="scan_patron_articulo=true" id="add-customer" class="external" data-toggle="modal" data-target="#series_modal2"><i class="fa fa-2x fa-barcode" id="addIcon"></i></a> -->
						<!-- </div> -->
						<!-- <div *ngIf="this.exist_articulo" class="input-group-addon no-print" style="padding: 2px 5px;" (click)="inserta_pedido()"> -->
							<!-- <input type="submit" name="inserta_pedido" value="Insertar" class="btn btn-danger" (click)="inserta_pedido()"> -->
						<!-- </div> -->
					
					<!-- </div> -->
				
				
				
				
				
				
				
				
				
				
				</div>
				
				<!-- <div  class="input-group">	 -->
												<!-- <input   type="text" name="search_customer" id="search_customer" (keyup.enter)="busqueda_razon_social()"  [(ngModel)]="patron_cliente"  class="form-control ui-autocomplete-input" placeholder="Ingrese el nombre del cliente" autocomplete="off"> -->
												     <!-- <div (click)="busqueda_razon_social()" class="input-group-addon no-print" style="padding: 2px 5px;"> -->
														<!-- <a id="add-customer" class="external"><i class="fa fa-2x fa-search" id="searchIcon"></i></a> -->
												    <!-- </div> -->
												<!-- </div> -->
				
				
<!-- <div class="form-group"> -->
    <!-- <label for="note">OBSERVACIÓN ADICIONAL PARA EL PEDIDO PRUEBA</label> -->
	
	<!-- <input [(ngModel)]="observacion_pedido" value="{{observacion_pedido}}" type="text" placeholder="Puede escribir observaciones del pedido" name="reference" value="" class="form-control tip" id="reference"> -->
		
	<!-- <input [(ngModel)]="observacion_pedido" value="{{observacion_pedido}}" type="text" placeholder="Puede escribir observaciones del pedido" name="reference" value="" class="form-control tip" id="reference"> -->

<!-- </div> -->

<div class="form-group">
    <label for="note">OBSERVACIÓN FACTURA</label>
	<!-- <input value="{{observacion_pedido}}" #observ_general (keyup.enter)="update_observ_general(observ_general.value)" (blur)="update_observ_general(observ_general.value)" type="text" placeholder="Puede escribir observaciones del pedido" name="reference" value="" class="form-control tip" id="reference"> -->
	<input [(ngModel)]="observacion_pedido" value="{{observacion_pedido}}" type="text" placeholder="Puede escribir observaciones del pedido" name="reference" value="" disabled class="form-control tip" id="reference">

	
	
<!-- <div *ngIf="scan"> -->
	<!-- <!-- <zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']" ></zxing-scanner> --> 
	
	<!-- <!-- <zxing-scanner [formats]="['UPC_EAN_EXTENSION','UPC_E','UPC_A','QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX', 'AZTEC', 'CODABAR', 'CODE_39', 'CODE_93', 'EAN_8', 'ITF', 'MAXICODE' ,'PDF_417' ,'RSS_14','RSS_EXPANDED']"  (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner> -->
	
		<!-- <!-- (scanError)="scanErrorHandler($event)"  --> 
	<!-- <!-- (scanFailure)="scanFailureHandler($event)"  --> 
	<!-- <!-- (scanComplete)="scanCompleteHandler($event)" --> 
	<!-- <!-- (scanFailure)="scanFailureHandler($event)" --> 
	
	<!-- <zxing-scanner  -->
	<!-- [enable]="scannerEnabled" -->
	<!-- [formats]="formatsEnabled"   -->
	<!-- (scanSuccess)="handleQrCodeResult($event)"> -->
	<!-- </zxing-scanner> -->
	
	
	<!-- <!-- <zxing-scanner --> 
    <!-- <!-- [scannerEnabled]="scannerEnabled" --> 
    <!-- <!-- [autofocusEnabled]="autofocusEnabled" --> 
    <!-- <!-- [device]="selectedDevice" --> 
    <!-- <!-- [cssClass]="'small-video'" --> 
    <!-- <!-- (camerasFound)="displayCameras($event)" --> 
    <!-- <!-- (scanSuccess)="handleQrCodeResult($event)" --> 
    <!-- <!-- ></zxing-scanner> --> 


<!-- </div> -->

<!-- <span *ngIf="scan_result"> EXITOSO {{scan_value}} </span> -->

	
	
	
	
	<!-- <div *ngIf="scan">	 -->
	<!-- <zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']" ></zxing-scanner> -->
<!-- </div> -->

<!-- <button class="btn btn-success" (click)="view_serie_renglon(el.codart)" id="btnUpload" data-toggle="modal" data-target="#series_modal">Series</button> -->

<!-- <input *ngIf="!scan" type="submit" name="prender_cam" (click)="scan=true" value="prender scan" class="btn btn-primary" data-toggle="modal" data-target="#series_modal2" > -->
<!-- <input *ngIf="scan" type="submit" name="apagar_scan" (click)="scan=false" value="apagar scan" class="btn btn-danger"> -->
<!-- <input type="submit" name="escanear" (click)="scannerEnabled=true"  value="escanear" class="btn btn-info"> -->
<!-- <input type="submit" name="apagar escanear" (click)="scannerEnabled=false"  value="apagar escanear" class="btn btn-info"> -->

</div>

<!--################## INICIO MODAL ###########################-->
			<div class="modal fade in" id="series_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
					
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" click="close_serie_renglon()" ><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Manejo de Series/lote</h4>
									  </div>
									  <div class="modal-body">
																		
										<div class="font16">
											<table class="table table-bordered table-condensed" style="margin-bottom: 0;">
												<tbody>
													<tr>
														<th style="border-right-color: #FFF !important;" width="25%">SERIE/LOTE</th>
														<td class="text-right" width="25%">

														<!-- <span id="item_count"> -->
															<!-- <!-- {{articulos_suma_cant}} --> 
														<!-- <input  [(ngModel)]="serie_lote_form" name="serie" type="text"   id="serie" class="pa form-control kb-pad amount"> -->
														<!-- </span> -->
														
														<div class="input-group">
					
															<input 	 type="text" name="serie" id="serie"  value="" placeholder="Ingrese serie/lote" [(ngModel)]="serie_lote_form" (blur)="valida_serie_articulo()"  (keyup.enter)="valida_serie_articulo()" class="form-control ui-autocomplete-input text-center " autocomplete="off">
														
															<div  class="input-group-addon no-print" style="padding: 2px 5px;">
																	<a (click)="scan_valor_serie=true" id="add-customer" class="external" data-toggle="modal" data-target="#series_modal2"><i class="fa fa-2x fa-barcode" id="addIcon"></i></a>
															</div>
														</div>

														</td>
													</tr>
													<tr>
													<th style="border-right-color: #FFF !important;" width="25%">FECHA CADUCIDAD</th>
													<td class="text-right" width="25%">
														<span id="twt">
														<!-- <input  [(ngModel)]="fecha_cad_form" name="caducidad" type="text"   id="caducidad" class="pa form-control kb-pad amount"> -->
														<input [(ngModel)]="fecha_cad_form" type="date" name="begin" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
														</span>
													</td>
													</tr>
													<tr>
														<th style="border-right-color: #FFF !important;">CANTIDAD  
															<span *ngIf="(cant_art_serie_renglon != 0)" style="font-weight:bold;color:red">(No exceder de {{cant_art_serie_renglon}})</span>
														
														</th>
				
														<td class="text-right">
														<span id="total_paying">
															<input  [(ngModel)]="cantidad_form" name="cant_ing" type="number"  placeholder="Ingrese cantidad" id="cant_ing" class="pa form-control kb-pad amount">
														</span>
														</td>
													</tr>
													<!-- <tr> -->
														<!-- <th style="border-right-color: #FFF !important;">UBICACION</th> -->
														<!-- <td class="text-right"> -->
														<!-- <span id="balance"> -->
														<!-- <input  [(ngModel)]="ubicacion" name="ubicacion" type="ubicacion"  placeholder="Ingrese Ubicación"  id="ubicacion" class="pa form-control kb-pad amount"> -->
														<!-- </span> -->
														<!-- </td> -->
													<!-- </tr> -->
													<tr>
														<!-- <th style="border-right-color: #FFF !important;">UBICACION</th> -->
														<td class="text-right">
															<!-- <button *ngIf="cant_art_renglon == cantidad_form" type="button" class="btn btn-primary" (click)="insertar_serie_renglon()">Insertar</button> -->
															<button *ngIf="(cant_art_serie_renglon != 0) && (disponible_lote > 0)"  type="button" class="btn btn-primary" (click)="insertar_serie_renglon()">Insertar</button>
															<span *ngIf="(cant_art_serie_renglon == 0)" style="font-weight:bold;color:red"> Cantidad de ingreso por serie COMPLETA </span>
													
														</td>
														<td class="text-left">
														    <span *ngIf="disponible_lote > 0" style="font-weight:bold;color:green"> Disponible lote : {{disponible_lote}}</span>
															 <span *ngIf="disponible_lote == 0" style="font-weight:bold;color:green"> LOTE {{serie_lote_form}} AGOTADO </span>
														</td>
													</tr>
													
												</tbody>
											</table>
											<div class="clearfix"></div>
										</div>
										<div class="row">
											<div class="col-xs-12">
											
								<div>		
								<div class="table-responsive">
                                   <table id="poTable" class="table table-striped table-bordered table-condensed table-hover dataTable">
                                        <thead>
                                            <tr class="active" role="row">
												<th>SERIE/LOTE</th>
                                                <th>F.CADUCIDAD</th>
												<th style="width:25px; padding-right:5px;" rowspan="1" colspan="1">CANT.</th>
												<!-- <th>UBICACION</th> -->
                                                <th class="col-xs-1 text-center" (click)="delete_serie()" style="width:25px;"><i class="fa fa-2x fa-trash-o" title="Remover todos" ></i></th>
                                            </tr>
                                        </thead>
						
										<tbody>

											
											<tr *ngFor="let el of serie_renglon;">
												<td>{{el.serie}}</td>
												<td style="min-width:100px;">{{el.caducidad}}</td>
												<td>{{el.cant}}</td>
												<!-- <td>{{el.ubicacion}}</td> -->
												<td  class="text-center">
													<i (click)="delete_renglon_serie(el.codserie,el.codart,el.cant)" class="fa fa-2x fa-trash-o tip pointer spodel" title="Remover renglon"></i>
													<!-- <a (click)="edit_articulos=el"  class="tip btn btn-warning btn-xs" ><i class="fa fa-plus" title="Agregar ciudad" >Agregar Ciudad</i></a> -->
													<a (click)="edit_renglon_serie(el.codserie,el.codart,el.serie,el.caducidad,el.ubicacion,el.cant)" class="tip btn btn-warning btn-xs" ><i class="fa fa-2x fa-pencil-square-o" title="editar_serie" ></i></a> 
												</td>
											</tr>
							

											
                                        </tbody>
								
                                    </table>
                                </div>
								</div>
							
						</div>
					</div>
			  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-primary" (click)="close_serie_renglon()"  data-dismiss="modal">Cerrar</button>
					<!-- <button type="button" class="btn btn-primary">Generar factura</button> -->
				  </div>
				</div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
<!--################## FIN MODAL ###########################-->

<!--################## INICIO MODAL ###########################-->
			<div class="modal fade in" id="series_modal2"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
					
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" (click)="close_scanner()" data-dismiss="modal" #closeBtnScan aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">SCANNER CAMARA</h4>
									  </div>
									  <div class="modal-body">
									  <div>
									  <!-- <div> -->
										<!-- <zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']" ></zxing-scanner> -->
										
										<!-- <zxing-scanner [formats]="['UPC_EAN_EXTENSION','UPC_E','UPC_A','QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX', 'AZTEC', 'CODABAR', 'CODE_39', 'CODE_93', 'EAN_8', 'ITF', 'MAXICODE' ,'PDF_417' ,'RSS_14','RSS_EXPANDED']"  (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner> -->
										
											<!-- (scanError)="scanErrorHandler($event)"  -->
										<!-- (scanFailure)="scanFailureHandler($event)"  -->
										<!-- (scanComplete)="scanCompleteHandler($event)" -->
										<!-- (scanFailure)="scanFailureHandler($event)" -->
										
										<!-- [enable]="scannerEnabled" -->
										
										<zxing-scanner *ngIf="scan_patron_articulo"
										[(device)]="currentDevice"
										[tryHarder]="tryHarder"
										[formats]="formatsEnabled"  
										(scanSuccess)="handleQrCodeResult($event,'art')">
										</zxing-scanner>
										
										<zxing-scanner *ngIf="scan_valor_serie"
										[(device)]="currentDevice"
										[tryHarder]="tryHarder"
										[formats]="formatsEnabled"  
										(scanSuccess)="handleQrCodeResult($event,'serie')">
										</zxing-scanner>
										
										
										<!-- <zxing-scanner -->
										<!-- [scannerEnabled]="scannerEnabled" -->
										<!-- [autofocusEnabled]="autofocusEnabled" -->
										<!-- [device]="selectedDevice" -->
										<!-- [cssClass]="'small-video'" -->
										<!-- (camerasFound)="displayCameras($event)" -->
										<!-- (scanSuccess)="handleQrCodeResult($event)" -->
										<!-- ></zxing-scanner> -->


									</div>
									  </div>
										<div class="modal-footer">
										<!-- <span *ngIf="scan_result"> EXITOSO {{scan_value}} </span> -->
										<!-- <input type="submit" name="apagar_scan" (click)="scan=false" value="apagar scan" class="btn btn-danger"> -->
										<!-- <input type="submit" name="escanear" (click)="scannerEnabled=true"  value="escanear" class="btn btn-info"> -->
										<!-- <input type="submit" name="apagar escanear" (click)="scannerEnabled=false"  value="apagar escanear" class="btn btn-info"> -->
										
										<button type="button" class="btn btn-primary" (click)="close_scanner()" data-dismiss="modal">Cerrar</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
<!--################## FIN MODAL ###########################-->


                        <!-- <div *ngIf="!numtra" class="form-group"> -->
                            <!-- <input *ngIf="(articulos_pedido.length == 0)"  #generar_pe type="submit"  disabled name="add_purchase" value="Guardar Ingreso" class="btn btn-primary"> -->
							<!-- <input *ngIf="(articulos_pedido.length > 0)" #generar_pe type="submit" (click)="registrar_descarga()"  name="add_purchase" value="Descargar Serie" class="btn btn-primary"> -->
						<!-- </div> -->
						
						<div *ngIf="numtra">
                            <input *ngIf="(articulos_pedido.length == 0)"  #generar_pe type="submit"  disabled name="add_purchase" value="Guardar Ingreso" class="btn btn-primary">
							<input *ngIf="(articulos_pedido.length > 0)" #generar_pe type="submit" (click)="registrar_descarga()"  name="add_purchase" value="Descargar Serie" class="btn btn-primary">
						</div>
                        </form>    
					</div>
                    <div class="clearfix"></div>
                </div>
            </div> <!-- /.FIN tab-pane 1 -->
			

			
			<div class="tab-pane"  id="tab_datos_vehiculo" #tab_datos_vehiculo>
			
            </div> <!-- /.tab-pane 2-->
			
		 <div class="tab-pane"  id="tab_datos_detalle_vehiculo" #tab_datos_detalle_vehiculo>

         </div> <!-- /.tab-pane 2-->
			
		<div class="tab-pane"  id="tab_fotos_vehiculo" #tab_fotos_vehiculo>

        </div> <!-- /.tab-VEHICULO 2-->
			
			
			
				</div> <!-- /.tab-content -->
			</div> <!-- nav-tabs-custom -->
        </div>
    </div>
 </section>
  <!-- /.content -->
</div>
