<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <!-- Page Header 1111 -->
	   Cobros Clientes
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i>Cobros</li>
      <li class="active">Registrar Cobro</li>
    </ol>
  </section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				
				<div class="box-body">
					<form  accept-charset="utf-8">
          <div class="form-group">
            <input type="text" name="search_customer" id="search_customer" (keyup.enter)="busqueda_razon_social()"  [(ngModel)]="patron_cliente"  class="form-control ui-autocomplete-input mb-5" placeholder="Ingrese el nombre del cliente" autocomplete="off">
            <input type="button" name="busca_cliente" value="Buscar cliente" class="btn btn-danger" (click)="busqueda_razon_social()" >
          </div>	
          <div class="form-group"  *ngIf="this.exist_razon_social">
            <p>Resultado de la busqueda por <<{{this.patron_cliente}}>></p>
            <div class="table-responsive-pedidos">
              <table class="table table-striped table-bordered table-condensed table-hover dataTable">
                 <thead>
                  <tr class="active" role="row">
                   <th>Razon Social</th>
                   <th class="text-center">Tipo ident</th>
                   <th class="text-center">Num Identificacion</th>
                   <th style="width:25px; padding-right:5px;" rowspan="1" colspan="1" >Selec</th>
                  </tr>
                 </thead>
                 <tbody>
                  <tr  *ngFor="let rz of razon_social_lista;">
                   <td>{{rz.nomcli}}</td>
                   <td class="text-center">{{rz.tpIdCliente}}</td>
                   <td class="text-center">{{rz.rucced}}</td>
                   <td class="text-center"> 
                    <input  type="radio"  name="radio_cliente" (change)="select_razon_social(rz.tpIdCliente,rz.rucced,rz.nomcli,rz.email,rz.codcli,rz.dircli)"  />
                   </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>			
					</form>	
          <form  accept-charset="utf-8">
            <div *ngIf="nombreClienteSeleccionado" class="mb-5">
              <strong style="font-size: 1.2em;">Cliente: {{ nombreClienteSeleccionado }}</strong>
            </div>
            <div>
              <input type="text" placeholder="Saldo" id="add_item"  value="{{saldo_cliente}}" class="form-control ui-autocomplete-input" autocomplete="off" disabled>
            </div>
            <div>
              <input type="button" name="consulta_saldo_cartera" value="Consultar Saldo cartera" class="btn btn-danger" (click)="consulta_saldo_cartera()" >
            </div>
          </form>
          <form  accept-charset="utf-8">
            <input type="button" name="consulta_detalle_cartera" value="Consultar Detalle" class="btn btn-danger" (click)="consulta_detalle_cartera()" >
          </form>
          <form *ngIf="ver_detalle" accept-charset="utf-8">
            <div style="margin-top: 10px;">
              <input type="button" name="forma_pago" value="Forma de Pago" class="btn btn-success" (click)="abrirModalFormaPago()" >
            </div>
          </form>
				</div>
			</div>
      
      	
		</div>
	</div>

 
  
  <mat-card *ngIf="ver_detalle" class="w-100">
    <!-- Controles de zoom -->
    <div class="zoom-controls mb-3">
      <button class="btn btn-sm btn-outline-secondary" (click)="zoomOut()">
        <i class="fa fa-minus"></i> Zoom -
      </button>
      <span class="mx-2">{{ (zoomLevel * 100) | number:'1.0-0' }}%</span>
      <button class="btn btn-sm btn-outline-secondary" (click)="zoomIn()">
        <i class="fa fa-plus"></i> Zoom +
      </button>
      <button class="btn btn-sm btn-outline-secondary ml-2" (click)="resetZoom()">
        <i class="fa fa-refresh"></i> Reset
      </button>
    </div>

    <!-- Wrapper responsive con scroll horizontal -->
    <div class="table-responsive-wrapper">
      <div class="table-scroll-container">
        <table id="reporte_resumido_factura" 
               class="table table-striped table-bordered table-hover responsive-table" 
               [style.transform]="'scale(' + zoomLevel + ')'" 
               [style.transform-origin]="'0 0'">
          <tbody>
            <ng-container *ngFor="let d of datosCobranza">
              <!-- Header del cliente -->
              <tr class="header-row-div client-header">
                <th colspan="4" class="column-subtitle">CLIENTE: </th>
                <th colspan="6" class="column-subtitle client-name">{{d.nomcli}}</th>  
              </tr>
          
              <!-- Encabezado de columnas -->
              <tr class="header-row-div column-headers">
                <th class="checkbox-col">
                  <input type="checkbox" [(ngModel)]="d.selectAll" (change)="toggleSeleccionarTodos(d)">
                </th>
                <th class="column-subtitle tipo-col">TIPO</th>
                <th class="column-subtitle documento-col">No. DOCUM.</th>
                <th class="column-subtitle serie-col">SERIE</th>
                <th class="column-subtitle fecha-col">FEC. EMISION</th>
                <th class="column-subtitle fecha-col">F. VENCIMIENTO</th>
                <th class="column-subtitle concepto-col">CONCEPTO</th>
                <th class="column-subtitle valor-col">VALOR FACTURADO</th>
                <th class="column-subtitle valor-col">ABONO</th>
                <th class="column-subtitle valor-col">SALDO</th>
              </tr>
          
              <!-- Renglones de datos -->
              <ng-container *ngFor="let x of d.renglones; let i = index">
                <tr [class.selected-row]="x.selected" class="data-row">
                  <td class="checkbox-col">
                    <input type="checkbox" [(ngModel)]="x.selected" (change)="calcularTotalSeleccionado()">
                  </td>
                  <td class="tipo-col">
                    <span class="mobile-label">TIPO:</span>
                    {{ x[1] === 'FC' ? 'FACTURA' : (x[1] === 'NC' ? 'NOTA CREDITO' : x[1]) }}
                  </td>
                  <td class="documento-col">
                    <span class="mobile-label">No. DOCUM.:</span>
                    {{x[2]}}
                  </td>
                  <td class="serie-col">
                    <span class="mobile-label">SERIE:</span>
                    {{x[3]}}
                  </td>
                  <td class="fecha-col">
                    <span class="mobile-label">FEC. EMISION:</span>
                    {{x[4]}}
                  </td>
                  <td class="fecha-col">
                    <span class="mobile-label">F. VENCIMIENTO:</span>
                    {{x[5]}}
                  </td>
                  <td class="concepto-col">
                    <span class="mobile-label">CONCEPTO:</span>
                    <div class="concepto-text" [title]="x[9]">{{x[9]}}</div>
                  </td>
                  <td class="valor-col text-right">
                    <span class="mobile-label">VALOR FACTURADO:</span>
                    <strong>{{x[6] | number:'1.2-2'}}</strong>
                  </td>
                  <td class="valor-col text-right">
                    <span class="mobile-label">ABONO:</span>
                    {{x[7] | number:'1.2-2'}}
                  </td>
                  <td class="valor-col text-right">
                    <span class="mobile-label">SALDO:</span>
                    <strong class="saldo-amount">{{x[8] | number:'1.2-2'}}</strong>
                  </td>
                </tr>
              </ng-container>
          
              <!-- Totales por cliente -->
              <tr class="total-row">
                <th colspan='6' class="column-subtitle">TOTAL {{d.nomcli}}</th>
                <th class="column-subtitle"></th>
                <th class="column-subtitle text-right">{{d.suma_venta_filtrada | number:'1.2-2'}}</th>
                <th class="column-subtitle text-right">{{d.suma_abono_filtrada | number:'1.2-2'}}</th>
                <th class="column-subtitle text-right">{{d.suma_total_filtrada | number:'1.2-2'}}</th>
              </tr>

            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
  
</section>
  <!-- /.content -->
</div>

